@tailwind base;
@tailwind components;
@tailwind utilities;

@import 'mixins.scss';
@import 'variables.scss';

* {
	box-sizing: border-box;
}

ul {
	list-style-type: none;
}

li {
	text-decoration: none;
}

h1 {
	font-size: 70px;
}
