@tailwind base;
@tailwind components;
@tailwind utilities;

@import 'mixins.scss';

:root {
	--main-color: #0ec261;
}

* {
	box-sizing: border-box;
}

ul {
	list-style-type: none;
}

li {
	text-decoration: none;
}
