@import '@/styles/mixins.scss';

.navMenuWrapper {
	position: absolute;
	height: 100%;
	width: 100%;
	background-color: #151b1fcf;
}

.navMenu {
	width: 752px;
	background-color: #111518;
	padding: 300px 128px;
	height: 100%;
	opacity: 1;

	&__close {
		position: absolute;
		top: 32px;
		left: 32px;
		cursor: pointer;
	}

	&__nav {
		margin-bottom: 38px;
	}

	&__list {
		display: flex;
		flex-direction: column;
		gap: 20px;
	}

	&__link {
		@include font(32px, 37px, 500);
		color: white;
		text-decoration: none;

		&.active {
			color: var(--main-color);
		}
	}
}

@media (max-width: 768px) {
	.navMenu {
	}
}
