@import '@/styles/mixins.scss';

.navMenu {
	background-color: #111518;
	height: 100%;
	width: 752px;

	&__nav {
		margin-bottom: 38px;
	}

	&__list {
		display: flex;
		flex-direction: column;
		gap: 20px;
	}

	&__link {
		@include font(32px, 37px, 500);
		color: white;
		text-decoration: none;

		&.active {
			color: var(--main-color);
		}
	}
}

@media (max-width: 768px) {
	.navMenu {
	}
}
